.card-skills_container{
    margin-top: 20px;
    width: 99%;
    height: 800px;
}
.card-skills_container > h1{
    margin-top: 40px;
    margin-left: 210px;

    font-size: 1.8em;
    font-family: 'PT sans';

    color: #ff5757;
    border-bottom: 5px solid #ff5757;
    width: 200px;
    padding-bottom: 20px;
}
.card-skills_conteudo{
    display: flex;
    justify-content: space-around;
    
}
.card-skills{
    margin-left: 70px;
}
.card-skill{
    margin-top:10px;
    width: 300px; 
    height: 570px;
    box-shadow: 3.5px 3.5px 3.5px white;

    border:3px solid white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}
.card-skill > h1{
    color: #ff5757;
    font-family: 'PT Sans';
    text-align: center;
}
.card-habilidade{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    
}
.card-habilidade > p{
    font-family: 'PT Sans';
    font-size: 1.4em;
    margin-left: 20px;
    color: white;
    border-bottom:5px solid white ;
    padding-bottom: 15px;
    width: 70%;
}
.card-habilidade > img {

    width: 40px;
    height: 40px;
}
.card-habilidade > img:hover {
    
    width: 60px;
    height: 60px;
}
/*Resposividade*/
@media (min-width: 200px) and (max-width:650px) { 

    .card-skills_container{
        width: 100%;
        justify-content: center;
        height: 1300px;
    }
    .card-skills_container > h1{
        margin-left: 60px;
        font-size: 1.5em;
        width: 200px;
    }
    .card-skills {
    
        margin-left: 20px;

    }
    .card-skills_conteudo{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .card-skill{
        width: 80%;
        margin-bottom: 50px;
        height:500px;
       
    }
    .card-habilidade > p{
        font-size: 1em;
    }
 }

