.card-titulo_container{
    height: 500px ;
    width: 99%;;
    background-color: #111010;
    
    display: flex;
    flex-direction: row;
    
}
.card-menu_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-menu_conteudo  > h1{
    color:white;
    font-size: 2.7em;
    font-family: 'PT Sans';
    width: 600px;
    margin-left: 210px;
    margin-top: 50px;
}
.card-menu_conteudo  > p{
    color:rgb(163, 156, 156);
    font-size: 1.2em;
    font-family: 'PT Sans';
    margin-bottom: 40px;
    margin-left: 210px;
    
}
.card-menu_conteudo  > button{
    width: 200px;
    height: 47px;
    background-color: transparent;
    border: 1px solid #FF5757;
    border-radius: 10px;
    margin-left: 210px;
}
.card-menu_conteudo  > button:hover{
   position:relative;
   background: linear-gradient(to right, #FF5757, #8f7a7a);
   top:5px;
}
.button{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.wpp{
    width: 30px;
}
.card-menu_conteudo  > button > a{
    color:rgb(163, 156, 156);;
    font-size: 1.0em;
}
.card-menu_conteudo  > button >a:hover{
    color:#FF5757;
}
.card-menu_image{
    width: 50%;
    margin-left: 60px;


}
.card-menu_image > img{
    box-shadow: 0px 0px 80px 0px #FF5757;
    width: 300px;
    border-radius: 150px;
    margin-top: 50px;
    
}

/*Deixando o site responsivo*/
@media (min-width: 200px) and (max-width:650px) { 

    .card-titulo_container{
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
       
        height: 700px;
       
        
    }
    .card-menu_conteudo{
    
        width: 100%;
        margin-bottom: 50px;
        padding-bottom: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    .card-menu_conteudo > h1{
        margin-left: 50px;
        font-size: 1.5em;
        width: 50%;
    }
    .card-menu_conteudo > p{
        margin-left: 50px;
        width: 50%;
        font-size: 1em;
    }
    .card-menu_conteudo > button{
        margin-left: 50px;
       
    }
    .card-menu_image {
        width: 50%;
        margin-left: 40px;
        
    }
    .card-menu_image > img{
        width: 100%;
        margin-left: 10px;
    
    }
 }

