<div class="card-titulo_container">
    <div class="card-menu_conteudo">
        <h1>{{tituloVazio}}</h1>
        <p>Desenvolvedor full-stack com interesse especial em front-end.
            <br>
            Apaixonado por criar interfaces de usuário elegantes e intuitivas.
        </p>
      <button class="button"><a href="https://wa.me/5521980083604">
        <img class ="wpp" src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo-whatsapp-64.png"></a><a href="https://wa.me/5521980083604">Entre em contato</a></button>
    </div>
    <div class="card-menu_image">
        <img src="https://avatars.githubusercontent.com/u/106537223?v=4">
    </div>
</div>