<div class="sobre-mim_container">

    <span>< /> </span>

    <div class="sobre-mim_conteudo">
        <h1> < Sobre mim / > </h1>
        <p>Sou Matheus, um desenvolvedor web apaixonado por tecnologia. Tenho 9 anos de experiência na área e recentemente concluí o curso de programador fullstack do SENAI. No meu portfólio, você encontrará uma variedade de projetos em front-end e back-end. 
            Estou pronto para novos desafios e oportunidades de desenvolvimento.
             Vamos trabalhar juntos!
        </p>
    </div>
    
</div>