.menu-bar_container {
    width: 100%;
    background-color: #111010;
    border-bottom: 1px solid #b9b9b9;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.menu-bar_logo {
    width: 200px;
    height: 200px;
    background-image:url('src\assets\MtcLogo.png');
}

.menu-bar>nav {
    display: flex;
}

.menu-bar>nav>a {
    display: flex;
    align-items: center;
    margin-left: 25px;
    color: white;

    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
}

.menu-bar>nav>a:HOVER {
    position: relative;
    top: 3px;
    background-color: rgba(255, 235, 205, 0.445);
}
.menuBurguer{
    display: none;
}


/*Deixando o site resposivo*/

@media (min-width: 200px) and (max-width:650px) {
    .menu-bar_container {
        width: 100%;
        height: 120px;
        border: 1px solid #b9b9b9;
    
    }

    .menu-bar>nav {
        display: none;
    }

    .menu-bar_logo {
        margin-right: 200px;
        width: 200px;
    }
    .menuBurguer{
        display:block;
        background-color: transparent;
    }
    .menu-bar_coluna{
        box-shadow:  10px 10px 10px 5px white;

        position: fixed;
        z-index: 1000;
        width: 70%;
        height: 100%;
        background-color: rgb(26, 26, 24);
        top: 0;
        right: 0;
        opacity: 0.9;
    }
    
    .menu-bar_coluna > nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .menu-bar_coluna > nav > a{
        margin-top: 30px;
        font-size: 1.5em;
        color: #FF5757;;
        
    }
    .menu-bar_coluna > nav > a > img{
       width: 40px;
        
    }

}