.contato_container {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
}

.contato_titulo {
    font-size: 1.5em;
    font-family: 'TS Sans';
    color: white;
}

.contato_icones {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 200px;
}

.contato_icones>a>img {
    width: 40px;
}

@media (min-width: 200px) and (max-width:650px) {

    .contato_titulo {
        font-size: 0.6em;
        font-family: 'TS Sans';
        color: white;
    }
    .contato_icones>a>img {
        width: 20px;
    }

}